@use "variables" as *;

//About us and contact button us could be a mixins. (font size 1.2 which is the same font size for the submit btton)
//I wonder if Submit and find my products could be one too even if not the same look

//Remember the cursor pointer on each button or someting with an action

.about {
  // This margin top should actually be a padding around the "find my product" CTA
  // in the products section and also add the background dark color
  margin-top: $default-padding; //and should be padding top and bottom instead of margin

  padding-bottom: $default-padding;
  text-align: center;
  overflow: hidden;
  color: $color-white;
  background-image: url("/dev/images/bg-section-about-us.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &__heading {
    text-transform: uppercase;
    font-size: 2.2rem;
    padding-top: 8rem;
  }
  &__subheading {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 4rem;
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    border: 2px solid $color-white;
    width: fit-content;
    padding: 0.75rem 2rem;
    margin: 0 auto;
  }

  &__video {
    background-color: $brand-color;
    padding: $default-padding;
    // display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border: 1.5rem solid $brand-color-dark;
      background-color: #045404;
    }
  }
}

.newsletter {
  background-color: $brand-color-light;
  padding: 1rem 0.7rem;

  &__heading {
    font-size: 1.2rem;
    text-align: center;
  }

  & form.newsletter-form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
  }

  //If time find out how to use the descendant selector not to
  //repeat the border none.

  input {
    border: none;
    padding: 0.5rem;
    grid-column: 1/2;
  }

  button {
    background-color: $brand-color;
    border: none;
    color: $color-white;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    grid-column: 2/-1;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.footer {
  &__link-mail {
    i.fa-sharp.fa-solid.fa-envelope {
      // color: black;
      // border-radius: 50%;
      // height: 1rem;
      // width: 1rem;
    }
  }
}
