@use "variables" as *;
@use "mixins" as *;

//About us and contact button us could be a mixins. (font size 1.2 which is the same font size for the submit btton)
//I wonder if Submit and find my products could be one too even if not the same look

//Remember the cursor pointer on each button or someting with an action

.about {
  padding-bottom: $default-padding;
  text-align: center;
  overflow: hidden;
  color: $color-white;
  background-image: url("../images/bg-section-about-us.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &__heading {
    text-transform: uppercase;
    font-size: $heading-title;
    padding-top: 8rem;
  }
  &__subheading {
    font-weight: 400;
    font-size: 1.2rem;
    padding: 2rem 4rem 4rem;
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    border: 2px solid $color-white;
    width: fit-content;
    padding: 0.75rem 2rem;
    margin: 0 auto;
  }

  &__button a {
    color: $color-white;
    text-decoration: none;
  }

  &__video {
    // How to add more padding around the video? and still ahve the green part on phone?
    background-color: $brand-color;
    padding: 4rem 1.4rem;
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 16/9;
      // width: 100%;
      // height: 100%;
    }

    iframe {
      border: 1.2rem solid $brand-color-dark;
      background-color: #045404;
      width: 85%;
      // height: 90%;
    }
  }
}

// @media (min-width: 47.8em) {
//   .about {
//     &__subheading {
//       padding: 2rem 8rem 4rem 6rem;
//     }

//     &__video {
//     }
//   }
// }

@include mq(444) {
  .about {
    &__video {
      padding: 3rem 4rem;
      &__container {
      }
      iframe {
        border: 1rem solid $brand-color-dark;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// @media (min-width: 27.75) {
//   .about {
//     &__video {
//       width: 100%;
//       background-color: red;
//     }
//   }
// }
