@use "variables" as *;

.about {
  //   background-color: $brand-color;
  color: $color-white;

  &__heading {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &__video {
    background-color: $brand-color;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
      border: 1.5rem solid $brand-color-dark;
    }
  }
}

.footer {
  &__link-mail {
    i.fa-sharp.fa-solid.fa-envelope {
      // color: black;
      // border-radius: 50%;
      // height: 1rem;
      // width: 1rem;
    }
  }
}
