@use "variables" as *;

.newsletter {
  background-color: $brand-color-light;
  padding: 2rem 0.7rem;

  &__heading {
    font-size: 1.2rem;
    color: $brand-color-dark;
    text-align: center;
    padding-bottom: 0.7rem;
  }

  & form.newsletter-form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0.5rem;
  }

  //If time find out how to use the descendant selector not to
  //repeat the border none.

  input {
    border: none;
    padding: 0.7rem 1rem;
    grid-column: 1/2;
  }

  button {
    background-color: $brand-color;
    border: none;
    color: $color-white;
    padding: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    grid-column: 2/-1;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

@media (min-width: 47.8em) {
  .newsletter {
    display: flex;
    &__heading {
    }

    &__video {
    }
  }
}

.find {
  background-image: url("/dev/images/map.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  // padding: $default-padding;
  padding: 5rem;
  text-align: center;

  // Do line break for the heading
  &__heading {
    text-transform: uppercase;
    font-size: $heading-title;
    color: $grey;
    padding-bottom: 0.5rem;

    &-city-near-you {
      display: block;
    }
  }

  &__button {
    //create a MIXIN for the button
    //Create a mixin for the headiongs
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    border: 1px solid $grey;
    width: fit-content;
    padding: 0.75rem 1rem;
    margin: 0 auto;

    &__anchor {
      color: $grey;
    }
  }
}

.contact {
  background-color: $brand-color-dark;
  padding: $default-padding 4rem 11rem 4rem;
  //   padding: 10rem 4rem;
  // position: relative;
  // z-index: -1;

  &__heading {
    color: $color-white;
    text-transform: uppercase;
    font-size: $heading-title;
    text-align: center;
    padding-bottom: 3rem;

    &-vulcan {
      display: block;
    }
  }

  &__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    border: 2px solid $color-white;
    width: fit-content;
    padding: 0.75rem;
    margin: 0 auto;
  }
  &__button a {
    color: $color-white;
    text-decoration: none;
  }
}
