@use "variables" as *;
@use "mixins" as *;

.footer {
  color: $color-white;
  background-color: $brand-color;
  z-index: -1;

  text-transform: uppercase;

  &__logo {
    display: flex;
    justify-content: center;

    &__vulcan-logo {
      width: 7rem;
    }
  }

  &__nav {
    padding: 2.5rem 1rem 1rem 1rem;
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    &-logo-container {
      display: flex;
      gap: 1rem;
    }
  }

  &__links a {
    text-decoration: none;
    color: $color-white;
  }

  &__links i {
    color: $color-white;
  }

  &__copyright {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 3rem;
  }
}

@include mq(768) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    &__logo {
      width: 7rem;
      justify-self: start;
      margin-left: 3rem;
    }
  }
}

@include mq(1235) {
  .footer {
    grid-template-columns: 1fr 2fr;
    padding: 2rem;

    &__nav {
      padding: 0 2rem 0 0;
    }

    &__links {
      gap: 2rem;
    }

    &__logo {
      grid-column: 1;
    }
    &-container2 {
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__copyright {
      padding-bottom: 0;
      align-self: center;
    }
  }
}
