//Mixin
@use "sass:math";
@use "variables" as *;

//USE FOR WAVES
@function em($px, $bc: 16) {
  @return #{math.div($px, $bc)}em;
}

@function rem($px) {
  @return #{math.div($px, 16)}rem;
}

// Media Query Mixin
@mixin mq($w) {
  $w: em($w);

  @media (min-width: $w) {
    @content;
  }
}

//btn mixin
@mixin button {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 900;
  width: fit-content;
  margin: 0 auto;
}
