// We will need variable(s) for the font once we figure out better the who;e websuite

// Colours
$brand-color: #429bd6;
$brand-color-dark: #244a64;
$brand-color-light: #bedcef;
$color-white: #fff;
$grey: #504f4f;

// Typography

$header-font: "Roboto Condensed", serif;
$body-font: "Roboto", sans-serif;

$default-padding: 6rem;
$heading-title: 2.2rem;
