// Colours
$brand-color: #429bd6;
$brand-color-dark: #244a64;
$brand-color-light: #bedcef;
$color-white: #fff;

// Typography

$header-font: "Roboto Condensed", serif;
$body-font: "Roboto", sans-serif;
