@use "mixins" as *;
.wave-section {
  position: relative;
  overflow: hidden;
}

.wave {
  height: 160px;
  width: 90%;
  position: absolute;
  bottom: 0;

  .wave-img {
    position: absolute;
    width: 115%;
    left: -19px;
    bottom: -35px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/wave-blue-dark.png);
    background-size: 160% 87%;
  }
  .wave-img-white {
    position: absolute;
    width: 115%;
    left: -19px;
    bottom: -76px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/wave-white.png);
    background-size: 160% 87%;
  }
  // .wave-img-light-blue {
  //   position: absolute;
  //   width: 160%;
  //   left: -203px;
  //   bottom: -37px;
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-image: url(../images/wave-blue-light.png);
  //   background-size: 170% 77%;
  // }

  .wave-img-light-blue {
    position: absolute;
    width: 160%;
    left: -183px;
    bottom: -90px;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(../images/wave-blue-light.png);
    background-size: 170% 77%;
    z-index: 9999;
  }

  @include mq(768) {
    .wave-img {
      width: 120%;
      left: 0;
      bottom: 0;
      //height: 100%;
      background-position: bottom left;
      background-size: 110% 70%;
    }
    .wave-img-white {
      width: 120%;
      left: 0;
      bottom: -49px;
      //height: 100%;
      background-position: bottom left;
      background-size: 110% 70%;
    }
    // .wave-img-light-blue {
    //   width: 120%;
    //   left: 0;
    //   bottom: 0;
    //   //height: 100%;
    //   background-position: bottom left;
    //   background-size: 110% 70%;
    // }
    .wave-img-light-blue {
      width: 120%;
      left: 0;
      // bottom: -2494px;
      bottom: -40px;
      background-position: bottom left;
      background-size: 95% 70%;
    }
  }

  @include mq(1440) {
    .wave-img {
      width: 112%;
      left: 0;
      bottom: 0;
      background-position: bottom left;
      background-size: 102% 90%;
    }
    .wave-img-white {
      width: 112%;
      left: 0;
      bottom: -45px;
      background-position: bottom left;
      background-size: 102% 90%;
    }
  }
}
