
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-linkedin-circled:before { content: '\e801'; } /* '' */
.icon-phone-circled:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
